{% extends 'INHack20ConsultorioBundle::layout.html.twig' %}
{% block contenido %}
<h1 class="t1 center separator-bottom">Diarios</h1>
<div class="center">
    {% include 'INHack20ConsultorioBundle:Diario:index_content.html.twig' %}
</div> 
    <div class="right separator-top">
        <a href="{{ path('diario_new') }}" class="boton-v">{{ 'diario.index.new' | trans({},'mensajes') }}</a>
    </div>
{% endblock %}