web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
composer.phar
src/Acme

## IDE files to ignore
nbproject/
.idea/
*.tmproj

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.rar
*.sql
*.tar.*
*.zip
*.db
# Comandos mas usados
*.cmd
sql
