{% extends 'INHack20ConsultorioBundle::layout.html.twig' %}
{% block contenido %}
<div class="center">
    <h1 class="t1 separator-bottom">Paciente</h1>

    <form action="{{ path('paciente_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="boton-v separator-top" type="submit">Registar</button>
            
        </p>
    </form>
</div>
{% endblock %}