{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h1>Actualizar Datos</h1>
<br/><br/>
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
