{% extends 'INHack20ConsultorioBundle::layout.html.twig' %}
{% block contenido %}
      <img src="{{ asset('bundles/inhack20consultorio/images/logo_barrio.jpg')}}" alt="" width="110" height="110">
      <strong style="font-size: 20px">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         Bienvenidos sistema de información automatizado para el registro y control de pacientes que asisten al consultorio de barrio adentro en la Parroquia El Recreo, Sector Chompresero, Estado Apure, este sistema tiene la finalidad de llevar el registro diario de pacientes para facilitar el mismo de manera digital.
      </strong>
      <br/>
      <div class="center separator-top"><strong>Gracias por ingresar al sistema...</strong></div>
{% endblock %}