
<h1 class="textoDecorado">Registro de Usuario</h1>
    <br/><br/>
    <fieldset>
        <legend>Datos</legend>
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                {{ form_widget(form,{'attr' : {'align' : 'center'} }) }}
            <br/><br/>
            <p align="center">
                <button type="submit" class="css3button">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
            </p>
    </fieldset>